h1{
	color: red;	
}

.square{
	height: 200px;
	width: 200px;
	background-color: #ffff00;
	border: 2px solid black;
	/* transform: translate(0px,0px); */

	transition: all 2s;
}

.square:hover{
	background-color: red;
	/* border-radius: 50%; */
	/* Scale down 20% both x and y */
	/* transform: scale(.2); */
	/* scale x down 20%, scale y up 5x */
	/* transform: scale(.2,5); */
	/* move the element by 1000px in the x direction */
	/* transform: translateX(1000px); */
	/* transform: rotate(45deg); */
	transform: skew(45deg)
}

.transform-box{
	width: 100px;
	height: 100px;
	border: 1px red solid;
	margin-top: 20px;
	/* transition: all 2s; */
}

.transform-box:hover{
	margin-left: 500px;
	border-radius: 50%;
	background-color: black;
	transform: rotate(1000deg);
}

.ease{
	transition: all 4s ease-in;
}

.ease-out{
	transition: all 4s ease-out;
}

.custom{
	transition: all 4s;
	transition-timing-function: cubic-bezier(1, 0.03, 0, 1.04)
}